.gameboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid {
    margin: 2vmin;
    display: grid;
    background-color: blue;
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.grid div {
    border: 1px solid hsla(0, 0%, 100%, 0.2);
}

